<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
  </head>
  <body>

   {{> header}}  

    <h1>welcome to node.js from handle bars</h1>
     <form>
        <input />
      <button>Submit</button>
     </form>
      <p id="p1"></p>
      <p id="p2"></p>
   {{> footer}}  
    
  </body>
 <script src="/app.js">

 </script>
</html>